html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}
#header {
    background-image:url(img/BG_header.png);
    background-size: cover;
    height: 408px;
}

.b-slideshow1 {
    position: absolute;
    top: 0;
    left: 0;
}

/*
.scrolling {
    background-image:url(img/Slider_Pic1.png);
    background-size: cover;
    margin: 0 auto;
    width: 960px;
    height: 407px;
    margin-top: -407px;
}
*/
#slider {
    margin: 0 auto;
    width: 960px;
    height: 407px;
    position: relative;
}
#top {
    background-color: black;
    opacity: 0.8;
    height: 91px;
}
#top li {
    display: inline;
}
.top-center {
    position: absolute;
    margin-left: 209px;
    top: 25px;
    color: white;
    font-family: "Segoe Script", Times, serif;
    font-size: 30px;
}
.top-left {
    margin-left: 13px;
}
.top-right {
    margin-top: -90px;
    margin-left: 732px;
    color: white;
    font-style: italic;
}
.telOne {
    font-family: "Georgia", sans-serif;
    font-weight: bold;
    margin: 15px 0 8px 0;
}
.email {
    font-family: "Georgia", sans-serif;
    font-size: 14px;
    margin: 0 0 -5px 0;
}
#menu-block {
    position: relative;
    width: 960px;
    height: 43px;
}
.menu {
    font: 16px "Tahoma";
    font-weight: bold;
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    clear: both;
    float: left;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    width: 142px;
    height: 26px;
    text-align: center;
    padding: 9px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
ul.menu > li > a:hover {
    width: 142px;
    height: 26px;
    background: rgba(49, 0, 10, 0.9);
}
ul.submenu {
    font: 14px "Tahoma";
    display: none;
    position: absolute;
    width: 160px;
    top: 44px;
    left: 0;
    background: rgba(49, 0, 10, 0.4);
    border: 0;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background: rgba(141, 104, 114, 0.4);
    border: none;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
#summery {
    width: 1010px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 60px;
}
.sidebar {
    width: 175px;
    vertical-align: top;
    display: inline-block;
}
.title-sum{
    font: 16px "Tahoma";
    color: darkred;
    font-weight: bold;
    padding: 17px 0 0 2px;
}
.title-sum-center {
    font: 16px "Tahoma";
    color: darkred;
    font-weight: bold;
    margin: 2px -1px -9px -11px;
    padding: 0 12px 12px 30px;
}
.elem-left-sum a{
    vertical-align: top;
    font: 14px "Tahoma";
    color: black;
    text-decoration: none;
}
.boxes-left-sum {
    margin: 6px 0 0 2px;
}
.boxes-left-sum li {
    margin: 0 0 -1px 0;
}
.elem-left-sum a:hover{
    text-decoration: underline;
}
.title-sum-right{
    font: 16px "Tahoma";
    color: darkred;
    font-weight: bold;
    margin: 15px 0 18px 4px;
}
.title-sum-right ul {
    margin-top: 16px;
}
.elem-right-sum a{
    vertical-align: top;
    font: 14px "Tahoma";
    color: black;
    text-decoration: none;
}
.elem-right-sum a:hover {
    text-decoration: underline;
}
.elem-left-sum-nav {
    display: block;
    margin: 0 0 4px 9px;
    list-style: none;
}
#left-sum-nav {
    margin: 14px 0 0 13px;
}
.sidebar img {
    width:153px;
}
.sidebar button {
    background: rgba(105, 0, 0, 1);
    border-radius: 8px;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 164px;
    height: 52px;
}
#center-sum {
    width: 600px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin: 30px -10px 0 9px;
}
.center-text {
    font: 14px "Tahoma";
    width: 590px;
    margin: 0 0 23px 0;
}
.title-center-sum {
    display: inline-block;
    line-height: 60px;
}
.title-center-sum-two {
    display: inline-block;
    line-height: 69px;
    padding: 0 0 0 7px;
}
.title-center-sum img, .title-center-sum-two img {
    float:left;
    padding: 0 0 0 10px;
}
.title-center-sum h2 {
    display: inline;
    padding: 0 0 0 22px;
}
.title-center-sum-two h2{
    display: inline;
    padding: 0 0 0 40px;
}
.center-sum p {
    font-family: Arial, sans-serif;
    font-weight: 100;
    width: 610px;
}
#text-img-block {
    margin: 0 0 -14px 0;
}
.img-catalogue {
    width: 125px;
    height: 125px;
    display: inline-block;
    position: relative;
    padding: 0 20px 0 0;
}
.img-cat-block {
    margin: -15px 0 35px 0;
}
.available a{
    font: 12px "Tahoma";
    padding: 0 0 0 12px;
}
.img-portfolio {
    width: 168px;
    height: 133px;
    display: inline-block;
    margin: 12px 27px 0 0;
}
.title-img-portfolio {
    font: 16px "Tahoma";
    color: darkred;
    font-weight: bold;
    width: 162px;
    margin: 1px 0 0 8px;
}
.title-of-center {
    font: 16px "Tahoma";
    color: darkred;
    font-weight: bold;
    margin: 21px 0 17px 0;
}
.right-block {
    margin: 36px 0 15px 6px
}
#footer {
    background-image:url(img/BG_futer.png);
    clear: both;
    width: 100%;
    height: 175px;
    margin-top: 18px;
    position: relative;
}
.footer-center {
    width: 980px;
    height: 175px;
    margin: 0 auto;
    position: relative;
}
.footer-center div{
    display: inline-block;
    color: #fff;
}
#footer-left-img {
    float: left;
    width: 238px;
}
.footer-block {
    display: inline-block;
    position: absolute;
    float: left;
}
.footer-block h3 {
    color: white;
    font: 14px "Tahoma", sans-serif;
    font-weight: bold;
    margin: 15px 0 12px 300px;

    }
.footer-block div {
    float: left;
    font: 12px "Tahoma", sans-serif;
    vertical-align: top;
    margin: 0 0 0 25px;
}
#footer-right-img img {
    margin: 0 3px 21px 0;
}